.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0px 25px 0px 25px;
    height: fit-content;
    width: 100%;
    justify-content: center;

    & .big-text {
        font-size: 2.8em;
        transition: ease-in-out;

        & .job {
            text-decoration: rgb(55, 55, 196) underline;
        }
    }

    & .know-more-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        position: relative;
        justify-content: space-between;
        gap: 10px;
        height: auto;

        & .know-more {
            --background: #fff;
            --background-dark: #e0e0e0;
            padding: 10px;
            border-radius: 10px;
            color: black;
            font-size: 30px;
            font-weight: 900;
            text-decoration: none;
            background-color: var(--background);
            box-shadow: 0px 7px 0 var(--background-dark);
        }

        & .know-more:active {
            transform: translateY(2px);
            box-shadow: 0px 5px 0 var(--background-dark);
        }
    }


}

.next-container {
    display: flex;
    width: 100%;
    margin-top: auto;
    padding: 20px;
    padding-bottom: 30px;
    justify-content: right;
    align-items: right;

    & a {
        --background: rgb(72, 72, 255);
        --background-dark: rgb(55, 55, 196);
        text-align: center;
        display: inline-block;
        position: sticky;
        padding: 10px;
        width: 40%;
        border-radius: 10px;
        color: #fff;
        font-size: 30px;
        font-weight: 900;
        text-decoration: none;
        background-color: var(--background);
        box-shadow: 0px 7px 0 var(--background-dark);
    }

    & a:active {
        transform: translateY(2px);
        box-shadow: 0px 5px 0 var(--background-dark);
    }
}