/* Global styles! */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Hanken Grotesk Variable';
    /* overflow:hidden; */
}

main {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    column-count: 1;
}

:-webkit-any(article, aside, nav, section) h1 {
    font-size: 2em;
    font-weight: 600;
}

.dimmed-p {
    opacity: 50%;
    font-weight: 600;
}

.comming-soon-giph {
    margin-top: 50px;
    width: 90%;
    height: max-content;
    border-radius: 5px;
}
