.navigation_bar {
    padding: 60px 0px 0px 0px;
    width: 70%;
    display: flex;
    align-items: left;
    /* justify-content: center; */
    flex-direction: column;
    text-align: left;

    & .navigation_image {
        border-radius: 10px;
    }
}



@media only screen and (max-width: 390px) {
    .navigation_bar {
        background-color: red;
    }
}