---
import BaseLayout from "../layouts/BaseLayout.astro";
import "../styles/home.css";
import "../styles/globals.css";

import { Image } from "astro:assets";
import logo from "../assets/ehren-rect.png";

const pageTitle: string = "About";
---

<BaseLayout title={pageTitle}>
    <!-- <script src="../script/animate.js"></script> -->
    <div class="text-container">
        <!-- <Image
            width="60"
            height="60"
            src={logo}
            alt="The capital letters E, in navy blue, and the letter N, in purple, on a yellow background."
            loading={"lazy"}
            quality={100}
            class={"logo draggable"}
        /> -->
        <!-- <p id="job-text" class="draggable">Software Developer</p> -->
        <div class="text-wrapper">
            <h1 class="big-text draggable">
                I love to write code with love 💖
            </h1>
        </div>
        <!-- <p>Press the start button below to start exporing!</p> -->
    </div>
    <!-- <div class="start-container">
        <a href="#start">Explore!</a>
    </div> -->
</BaseLayout>
