---
import { Image } from "astro:assets";
import logo from "../assets/ehren-rect.png";
---

<nav class="navigation_bar">
    <Image
        width="56"
        height="56"
        src={logo}
        alt="The capital letters E, in navy blue, and the letter N, in purple, on a yellow background."
        loading={"lazy"}
        quality={100}
        class={"navigation_image"}
    />
</nav>

<style>
    .navigation_bar {
        padding: 60px 0px 0px 0px;
        width: 70%;
        display: flex;
        align-items: left;
        /* justify-content: center; */
        flex-direction: column;
        text-align: left;
    }

    .navigation_image {
        border-radius: 10px;
    }

    @media only screen and (max-width: 390px;) {
        .navigation_bar {
            background-color: red;
        }
    }
</style>
