---
import { Image } from "astro:assets";
import logo from "../assets/ehren-rect.png";
import "../styles/navigation.css"
---

<nav class="navigation_bar">
    <Image
        width="56"
        height="56"
        src={logo}
        alt="The capital letters E, in navy blue, and the letter N, in purple, on a yellow background."
        loading={"lazy"}
        quality={100}
        class={"navigation_image"}
    />
</nav>