---
import SEO from "../components/SEO.astro";
import Navigation from "../components/Navigation.astro";
import Background from "../components/Background.astro"
import '@fontsource-variable/hanken-grotesk';
import "../styles/baselayout.css"

interface Props {
	title: string;
}

const {title} = Astro.props as Props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<!-- <link rel="icon" type="image/svg+xml" href="/favicon.svg" /> -->
		<meta name='viewport' content='width=device-width, initial-scale=1' />
		<!-- <meta name="generator" content={Astro.generator} /> -->
		<SEO title={`${title} | Ehren Nwokocha`} description="Hi there, I&apos;m Ehren Nwokocha! I&apos;m usually having fun with my computer, listening to music or occasionally playing the violin. Currently, I&apos;m a member of HackClub." />
	</head>
	<body>
        <main>
			<!-- <Navigation /> -->
			<div class="main_content">
				<slot />
			</div>    
        </main>
		<Background />
	</body>
</html>