---
import SEO from "../components/SEO.astro";
import '@fontsource/raleway'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<!-- <link rel="icon" type="image/svg+xml" href="/favicon.svg" /> -->
		<meta name="viewport" content="width=device-width" />
		<!-- <meta name="generator" content={Astro.generator} /> -->
		<SEO title="Home | Ehren" description="Hi there, I&apos;m Ehren Nwokocha! I&apos;m usually having fun with my computer, listening to music or occasionally playing the violin. Currently, I&apos;m a member of HackClub." />
		<style>
			body {
				padding: 0;
				margin: 0;
				box-sizing: border-box;
			}
			main {
				width: 100%;
				height: 100vh;
				display: flex;
				justify-content: center;
				align-items: center;
				font-family: 'Raleway';
			}
		</style>
	</head>
	<body>
        <main>
		    <slot />
        </main>
	</body>
</html>